service: hms-email-service

frameworkVersion: '4'

provider:
  name: aws
  runtime: python3.9
  region: us-east-1

plugins:
  - serverless-offline

functions:
  sendEmail:
    handler: handler.send_email
    events:
      - http:
          path: send-email
          method: post
          cors: true
